<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
  
</style>
<body>
    <div id="app">
        <div>
            是否需要额外付费项目？<input type="checkbox" v-on:click="add()" v-model="isChecked">
            <ul v-for="(obj, index) in List" :key="index" v-show="isChecked">
                <li>{{obj.name}}（{{obj.price}}）<input type="checkbox" v-model="main" :value='obj'></li>
                
            </ul>
        </div>
    <div>
        订单信息费用
        <ul v-for="(obj, index) in main" :key="index">
            <li>{{obj.name}}（{{obj.price}}）</li>
        </ul>
    </div>
    <div >
        总金额：{{total()}}
    </div>    
    </div>
    <script src="vue.js"></script>
    <script>
   new Vue({
       el: "#app",
       data:{
           isChecked:false,
            List:[{
                name: '沙发',
                price: 100,
              
            },
            {
                name: 'wifi',
                price: 59,
                
            },
            {
                name: '电脑',
                price: 10000,
                
            }
            ],
            main:[{
                name: '群力花园豪华型',
                price: 400
            }],
           
            
       },
       
       methods: { 
            total(){
               let sum = 0;
               this.main.forEach(function(obj,index){
                sum+=obj.price
               })
               return sum;
           },
           add(){
            this.main.splice(1);
           },
         
           
       },
       
   })
    </script>
</body>
</html>